// import 
@use 'custom';

/* default */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header{
  height: 4rem;
  @include custom.barColor();
  display: flex;
  align-items: center;
  padding-inline: 1rem;

  h1 {
    font-size: 1.2rem;
  }
}

.sideContainer {
  @include custom.flexColumn();
  justify-content: space-between;
  border-right: #707070 1px solid;
}

.navBar {
  @include custom.flexColumn();
  gap: 1rem;
  text-align: center;
  padding-top: 1rem;

  .navItems {
    font-size: 1.2rem;
    text-decoration: none;
    color: custom.$dark-text;
  }
}

.main {
  display: flex;
  min-height: 90vh;
}

main{
  width: 100%;
}

.container {
  width: 100%;
  padding: 1rem;
  @include custom.flexColumn();
  gap: 1rem;
}

section {
  display: flex;
  gap: 1.5rem;
}

.dataset{
  border-collapse: collapse;
}

.dataset th{
  border: 1px solid custom.$dark-text;
  padding-block: 0.3rem;
}

.footer {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @include custom.barColor();

  p {
    font-size: 0.7rem;
    padding-inline: 1rem;
  }
}
