// import 
@use 'custom';

/* default */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header{
  height: 4rem;
  display: flex;
  align-items: center;
  padding-inline: 1rem;
}

.main {
  display: flex;
  min-height: 90vh;
  background-color: custom.$background-light;
}

main{
  width: 100%;
}

.container {
  width: 100%;
  padding: 1rem;
  @include custom.flexColumn();
  gap: 1rem;
}

.sideContainer {
  @include custom.flexColumn();
  justify-content: space-between;
  border-right: #707070 1px solid;
  background-color: custom.$secondary-color;
}

section {
  display: flex;
  gap: 1.5rem;
}

.footer {
  height: 2.5rem;
  align-content: center;
}
