/* color palette */
$default-text: #fff;
$default-background: #333;

/* mixins */
@mixin flexGroup() {
  display: flex;
  flex-direction: column;
}

@mixin barColor() {
  background-color: $default-background;
  color: $default-text;
}

/* default */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header{
  height: 5rem;
  @include barColor();
}

.sideContainer {
  @include flexGroup();
  justify-content: space-between;
  border: #707070 1px solid;
}

.navBar {
  @include flexGroup();
  gap: 1rem;
  text-align: center;
}

.main {
  display: flex;
  width: 100%;
  height: 90vh;
}

.container {
  width: 80%;
}

.footer {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @include barColor();

  p {
    font-size: 0.7rem;
    padding-inline: 1rem;
  }
}
