/* color palette */
$default-text: #fff;
$dark-text: #333;
$default-background: #333;
$light-background: #fff;

/* mixins */
@mixin flexColumn() {
  display: flex;
  flex-direction: column;
}

@mixin barColor() {
  background-color: $default-background;
  color: $default-text;
}

/* default */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header{
  height: 4rem;
  @include barColor();
  display: flex;
  align-items: center;
  padding-inline: 1rem;

  h1 {
    font-size: 1.2rem;
  }
}

.sideContainer {
  @include flexColumn();
  justify-content: space-between;
  border-right: #707070 1px solid;
}

.navBar {
  @include flexColumn();
  gap: 1rem;
  text-align: center;
  padding-top: 1rem;

  .navItems {
    font-size: 1.2rem;
    text-decoration: none;
    color: $dark-text;
  }
}

.main {
  display: flex;
  width: 100%;
  min-height: 90vh;
}

.container {
  width: 80%;
  padding: 1rem 0 1rem 1rem;
}

.footer {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @include barColor();

  p {
    font-size: 0.7rem;
    padding-inline: 1rem;
  }
}
