@use '../default//custom.scss';

.buttons {
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.5rem;
}

.addSave {
  justify-content: end;
}

.btnPreprocessing {
  position: absolute;
  right: 1rem;
  margin-top: 1rem;
}