@use '../default//custom.scss';

button,
.btn-upload {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  color: custom.$white-color;
}

.buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: 'center';
}

.btn-process {
  position: fixed;
  right: 2rem;
}

.btn-upload,
.btn-add,
.btn-preprocessing,
.btn-process,
.btn-process2,
.btn-pagination {
  background-color: custom.$info-color;
}
.btn-change, .btn-edit, .btn-cancel {
  background-color: custom.$warning-color;
}
.btn-save {
  background-color: custom.$success-color;
}
.btn-delete {
  background-color: custom.$error-color;
}

.btn-aksi {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
