// import file
@use '../default/custom';

.dataset{
  border-collapse: collapse;
  width: 100%;
  
}

.dataset th, td{
  border: 1px solid custom.$primary-color;
  padding-block: 0.3rem;
}

.tabel {
  @include custom.flexColumn();
  gap: 1rem;
  width: 100%;
}

th {
  padding-inline: 0.2rem;
}
.nomor {
  width: 1rem;
}
.emotion {
  width: 2rem;
}
.text1 {
  width: 13rem;
}
.text2 {
  width: 7rem;
}
.text3 {
  width: 10rem;
}
.aksi {
  width: 5rem;
}

.inputFile {
  display: flex;
  gap: 1rem;
  width: 35%;
  height: 2rem;
}

.box {
  width: 12rem;
  padding: 0.5rem;
  border: 1px solid custom.$primary-color;
  border-radius: 4px;
}

.tabel-dataset-wrapper {
  @include custom.columnGap();
}

.pagination-controls, .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

// tf-idf

.tfidf {
  @include custom.flexColumn();
  gap: 1rem;
  width: 100%;
}
.tfidf th, td {
  border: 1px solid custom.$primary-color;
  padding-block: 0.3rem;
}
.tfidf th {
  padding-inline: 0.2rem;
}
.nomor-tfidf {
  width: 1rem;
}
.tf-tfidf {
  width: 2rem;
}
.kata-tfidf {
  width: 13rem;
}