// import file
@use '../default/custom';

.tabelWithCSV {
  display: flex;
  gap: 1.5rem;
}

.dataset {
  .nomor {
    width: 5%;
  }
  .text {
    width: 80%;
  }
  .emotion {
    width: 15%;
  }
}

.collection {
  width: 70%;

  .text {
    width: 80%;
  }
}

.preprocessing {
  .text1 {
    width: 40%;
  }
}

.inputFile {
  display: flex;
  gap: 1rem;
  width: 35%;
  height: 2rem;
}

.box {
  width: 15rem;
  padding: 0.5rem;
  border: 1px solid custom.$dark-text;
  border-radius: 4px;
}