@use '../default/custom.scss';

.header, .footer {
  @include custom.barColor();
}

.header h1 {
  font-size: 1.2rem;
}

.container h1 {
  font-size: 1.4rem;
}

.outputContainer {
  @include custom.columnGap();
  text-align: center;
}

.output {
  padding: 0.8rem 3rem;
  background-color: custom.$border-color;
}

.dataset {
  .align {
    text-align: center;
  }
  .text {
    padding-left: 1rem;
  }
}

.footer p {
  font-size: 0.7rem;
  padding-inline: 1rem;
  text-align: center;
}