@use '../default/custom.scss';

.header, .footer {
  @include custom.barColor();
}

.header h1 {
  font-size: 1.2rem;
}

.container h1 {
  font-size: 1.4rem;
}

.footer p {
  font-size: 0.7rem;
  padding-inline: 1rem;
  text-align: center;
}